{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ title }} | {% trans 'Learning management system' %}{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Групповой чат студентов</title>
</head>
<body>
    <h1>Групповой чат</h1>
    <textarea id="chat-log" cols="100" rows="20" readonly></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <button id="chat-message-submit">Отправить</button>

    <script>
        // Сохранить данные в localStorage

        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/chat/'
        );
        
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const chatLog = document.querySelector('#chat-log');
            if (data.user) {
                chatLog.value += `${data.user}: ${data.message}\n`;
            }
            else {
                chatLog.value += `{{ user }}: ${data.message}\n`;
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // Enter key
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'user': "{{ user }}",
                'message': message
            }));
            messageInputDom.value = '';
        };
        
    </script>
</body>
</html>
{% endblock %}